@import 'snow.css';
@import 'navbar.css';

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
}

.gallery-item {
    display: grid;
    grid-template-rows: 4fr 1fr;
    gap: 2px;
    margin: 5px;
}

.gallery-image {
    width: 300px;
    height: 150px;
    padding: 0px;
    margin: 0px;
    border: 2px solid #000000;
    gap: 2px;
}

.gallery-item h3 {
    font-size: 15px;
    font-family: 'IBM Plex Serif', serif;
    padding: 0px;
    margin: 0px;
    gap: 2px;
}