@import 'snow.css';

.home {
    display: grid;
    list-style: none;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.home-logo img {
    width: 15%;
}

.home-list a {
    color: #707070;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 250%;
    font-weight: 100;
}

.home-list a:hover {
    color: #ffffff;
    background: #000000;
    text-decoration: none;
}

.home-brand {
    color: #000000;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 400%;
}