@import 'snow.css';
@import 'navbar.css';

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}

.portfolio-item {
    display: grid;
    gap: 0px;
    padding: 0px;
    margin: 10px;
    position: relative;
    width: 90%;
    border: 2px solid #000000;
}

.project-info {
    opacity: 1;
    background-color: #ffffff;
    color: #000000;
    position: relative;
    text-align: left;
}

.portfolio-item h3 {
    opacity: 1;
    padding: 4px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
}