@import 'snow.css';
@import 'navbar.css';

.greetings {
    font-family: 'IBM Plex Serif', serif;
    font-size: 200%;
    text-align: center;
}

.contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-family: 'IBM Plex Serif', serif;
    width: auto;
}

.contact div div p {
    font-size: 150%;
    font-weight: bold;
}

.contact dt {
    font-weight: bold;
}

.contact dd {
    font-family: 'IBM Plex Mono', monospace;
}

.contact div div {
    border: 4px solid #000000;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 20%;
    margin-right: 20%;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}