@import '/styles/snow.css';
@import '/styles/navbar.css';

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}

.gallery-item {
    display: grid;
    gap: 1px;
    padding: 0px;
    margin: 10px;
    position: relative;
    width: 50%;
}

.gallery-image {
    width: 400px;
    height: 200px;
    padding: 0px;
    margin: 0px;
    border: 2px solid #000000;
    gap: 2px;
}

.image-info {
    background-color: transparent;
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

.caption {
    color: #ffffff;
    font-size: 16px;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 4px;
    position: relative;
}

.gallery-item:hover .gallery-image {
    filter: blur(1px) grayscale(100%) brightness(0.8);
    -webkit-filter: blur(1px) grayscale(100%) brightness(0.8);
}

.gallery-item:hover .image-info {
    opacity: 1;
}