@import 'snow.css';

.home {
    display: grid;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.home-logo img {
    width: 15%;
}

.home-list a {
    color: var(--gray);
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 250%;
    font-weight: 100;
}

.home-list a:hover {
    color: var(--white);
    background: var(--black);
    text-decoration: none;
}

.home-brand {
    color: var(--black);
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
    font-size: 400%;
}

footer {
    color: var(--gray);
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    margin-top: 30px;
}