@import 'snow.css';
@import 'navbar.css';

.post-page {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav {
    border-bottom: 2px solid #000000;
}

.breadcrumbs ol {
    list-style-type: none;
    padding-left: 0px;
}

.crumb {
    display: inline-block;
}

.crumb a {
    text-decoration: underline;
    color: #000000;
}

.crumb a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
}

.crumb a::after {
    display: inline-block;
    color: #000000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
    text-decoration: none;
}

.post {
    margin-left: 200px;
    margin-right: 200px;
    flex: 600px;
}

.post-title {
    font-size: 200%;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
}

.post-image {
    display: block;
    max-width: 100%;
    max-height: 50%;
    margin: auto;
    border: 2px solid #000000;
    image-rendering: auto;
}

.post-content {
    font-size: 130%;
    font-family: 'IBM Plex Serif', serif;
    text-align: left;
}

.post-content:first-of-type::first-letter {
    font-size: 250%;
    float: left;
    font-family: 'IBM Plex Serif', serif;
}

.post a {
    text-decoration: underline;
    color: #000000;
}

.post a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
}

.highlighted {
    color: #000000;
    background: #ffff81;
    border: 0px;
}

.important {
    color: #000000;
    background: #aab6fe;
    border: 0px;
}

.successful {
    color: #000000;
    background: #b2fab4;
    border: 0px;
}

.danger {
    color: #000000;
    background: #ffa4a2;
    border: 0px;
}